extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Eduardo Osorio 

        p Full Stack JavaScript Developer


        .about-bio

          p Located in Barranquilla, Colombia. Fully bilingual in English and Spanish. Available for hire. 


      .skills-contact-box.box
        h6 Skills

        ul
          li JavaScript
          li HTML
          li CSS
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Git and GitHub
          li VS Code
          li Pug
          li Accessibility

        h6 Contact Info

        ul
          li +57 (314) 597-7802
          li eduardoaosorio95@gmail.com

        a.btn-link(target='_blank' href='https://www.linkedin.com/') LinkedIn
        a.btn-link(target='_blank' href='https://github.com/eduardoaosorio') GitHub
        a.btn-link(target='_blank' href='https://twitter.com/?lang=en') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back