extends layout.pug

block content

  article.portfolio-intro

    h1 Hi, welcome to my website.

    p Checkout some of the things I've built. Click the thumbnails bellow to get more information about each project.


  article.portfolio-project-thumbs
    .projects-box.box.grid

      each project in projects
        .cell
          a(href='/projects/' + project.id)
            img.thumbnail(src='' + project.imageUrls[0], alt='Thumnail of ' + project.name)
            h5= project.name

