extends layout.pug

block content

    .error-container
        h1= err.message
        p Status: #{err.status}
        p
            a(href='/')
                span &larr;
                |  Go Back