extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box

        h1= project.name

        p= project.description

      .project-tech-links-box.box
        h6 Technologies
        ul
          each technology in project.technologies
            li= technology

        a.btn-link(target='_blank' href='' + project.liveLink) Live Demo
        a.btn-link(target='_blank' href='' + project.githubLink) GitHub Repo

    .project-img-box.box

      each imageUrl in project.imageUrls
        img.project-img(src='' + imageUrl, alt='Screenshot of ' + project.name)

    nav.nav
      a(href='/')
        span &larr;
        |  Back
